:root {
    --color-flow-control: #f92672;
    --color-flow-control-light: #ff5c8a;
    --color-literal: #a04101;
    --color-literal-light: #ff7a1a;
    --color-escape: #cebd23;
    --color-escape-light: #ffda5c;
    --color-keyword: #203cb6;
    --color-keyword-light: #3c5aff;
    --color-numeric: #ae81ff;
    --color-numeric-light: #d8b4ff;
    --color-comment: #006e06;
    --color-comment-light: #00a800;
    --color-type: #29a571;
    --color-type-light: #5affa8;
    --color-function: #e2b22e;
    --color-function-light: #ffda5c;
    --color-variable: #37b7ce;
    --color-variable-light: #5affff;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

#page-wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#catelog {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: #18141f;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

#editor {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #242028;
    overflow-x: hidden;
    overflow-y: visible;
    box-sizing: border-box;
    color: #fff;
    cursor: default;
}

.snippet-button {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #2e2a33;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
}

.snippet {
    background-color: transparent;
    transition: background-color 200ms ease-in-out;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.snippet > *:not(.snippet-options) {
    padding: 10px;
}
.snippet:hover {
    /* background-color: rgba(0,0,0,0.25); */
    outline: 1px solid #18141f;
}
.snippet-options {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0ms ease-in-out;
    opacity: 0%;
}
.snippet:hover > .snippet-options {
    padding: 0 10px;
    gap: 5px;
    max-width: 8ch;
    background-color: #18141f;
    opacity: 100%;
}
.snippet-options > button {
    border: 1px solid #2e2a33;
    background-color: transparent;
    color: white;
    border-radius: 9999px;
    cursor: pointer;
    aspect-ratio: 1;
    padding: 3px;
    transition: background-color 400ms ease-in-out;
}
.snippet-options > button:hover {
    background-color: #2e2a33;
    transition: background-color 200ms ease-in-out;
}

[class^='syntax-'] { font-family: monospace; }
.syntax-flow-control { color: var(--color-flow-control); }
.syntax-literal { color: var(--color-literal); }
.syntax-escape { color: var(--color-escape); }
.syntax-keyword { color: var(--color-keyword); }
.syntax-numeric { color: var(--color-numeric); }
.syntax-comment { color: var(--color-comment); }
.syntax-type { color: var(--color-type); }
.syntax-function { color: var(--color-function); }
.syntax-variable { color: var(--color-variable); }

/* All sockets */
nesting-socket {
    --normal-color: magenta;
    --hover-color: magenta;
    --selected-color: magenta;
    --main-color: var(--normal-color);
    background-color: var(--main-color);
    border-width: 2px;
    transition: 200ms ease;
}
nesting-socket:not(:has(> .placeholder)) {
    background-color: transparent;
    border-style: solid;
    border-color: var(--main-color);
}
nesting-socket:hover {
    --main-color: var(--hover-color);
}
nesting-socket.selected {
    --main-color: var(--selected-color);
}

/* Inline sockets */
nesting-socket[data-shape='expression'],
nesting-socket[data-shape='type'],
nesting-socket[data-shape='keyword'],
nesting-socket[data-shape='literal'],
nesting-socket[data-shape='variable'] {
    display: inline-block;
    padding: 0.125ch 1ch;
}

nesting-socket[data-shape='expression'] {
    --normal-color: darkblue;
    --selected-color: blue;
    --hover-color: dodgerblue;
    border-radius: 9999px;
}
nesting-socket[data-shape='type'] {
    --normal-color: var(--color-type);
    --hover-color: var(--color-type-light);
    --selected-color: var(--color-type-light);
    border-radius: 2px;
}
nesting-socket[data-shape='keyword'] {
    --normal-color: var(--color-keyword);
    --hover-color: var(--color-keyword-light);
    --selected-color: var(--color-keyword-light);
    border-radius: 5px;
}
nesting-socket[data-shape='literal'] {
    --normal-color: var(--color-literal);
    --hover-color: var(--color-literal-light);
    --selected-color: var(--color-literal-light);
    border-radius: 5px;
}
nesting-socket[data-shape='variable'] {
    --normal-color: var(--color-variable);
    --hover-color: var(--color-variable-light);
    --selected-color: var(--color-variable-light);
    border-radius: 5px;
}

/* Block sockets */
nesting-socket[data-shape='statement'],
nesting-socket[data-shape='class'],
nesting-socket[data-shape='function'] {
    display: block;
    margin-top: 0.5ch;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    margin-left: 4ch;
}

nesting-socket[data-shape='statement'] {
    --normal-color: darkred;
    --hover-color: red;
    --selected-color: red;
}
nesting-socket[data-shape='class'] {
    --normal-color: darkgreen;
    --hover-color: green;
    --selected-color: green;
}
nesting-socket[data-shape='function'] {
    --normal-color: darkorange;
    --hover-color: orange;
    --selected-color: orange;
}

.placeholder {
    color: rgba(255,255,255,0.5);
    font-style: italic;
    pointer-events: none;
    user-select: none;
}
